.container {
  overflow: hidden;

  width: 100%;

  display: flex;

  padding: 10px 0;
}

.track {
  display: flex;
  width: max-content;

  --gap: 30px;
  gap: var(--gap);

  animation: infiniteConveyor 170s linear infinite;
}

.track:hover {
  animation-play-state: paused;
}

.floatingImage {
  width: 250px;
  height: 180px;

  object-fit: cover;

  border-radius: 14px;

  box-shadow: 0 5px 14px rgba(42, 42, 42, 0.15);

  flex-shrink: 0;
  pointer-events: none;
}

@keyframes infiniteConveyor {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - (var(--gap) / 2)));
  }
}