.navbar {
  list-style-type: none;
  font-size: 24px;
  display: flex;
  gap: 100px; 
  user-select: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;               
  margin: 0; 
  height: 100px;
  z-index: 100;
  top:0;
}

.navbar li {
  font-family: 'Canda Tawa';
  color:rgb(48, 48, 48);

  
}


html, body {
  /* Prevents bouncing past the top and bottom of the page */
  overscroll-behavior-y: none; 
}

.listContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  position: sticky;
  background-color: var(--navbar-background);
}

.kopelogo {
  padding-left: 50px;
  user-select: none;
  width: 100px;
  height: auto;
  object-fit: cover;
  -webkit-user-drag: none;
}

@font-face {
  font-family: 'Canda Tawa';
  src: url('../../assets/fonts/Canda Tawa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color:rgb(48, 48, 48);
}

/* visited link */
a:visited {
  text-decoration: none;
  color:rgb(48, 48, 48);
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  text-decoration: none;
}