.mealgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 30px clamp(20px, 8vw, 170px) 10px;
}

@media (max-width: 1300px) {
    .mealgrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .mealgrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .mealgrid {
        grid-template-columns: 1fr;
    }
}